@media (max-width: 1200px)
  .container
    max-width: 960px

  .hotel
    &-slider
      width: 580px

  .card
    width: 230px
    height: 230px

  .packages
    &__text-content-1
      padding: 27px 21px 30px 24px

  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px

  .logo
    width: 132px

  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px

    &__search
      margin-left: auto

    &-menu
      padding-top: 22px
      padding-bottom: 22px

      &__link
        font-size: 12px
        line-height: 15px

  .search
    &__input
      width: 340px

      &__link
        font-size: 12px
        line-height: 15px

  .hotel
    padding-bottom: 60px

    &-grid
      flex-direction: column

    &-slider
      width: 100%

    &__slider
      margin-bottom: 30px

    &-right
      flex-direction: row

  .booking
    width: 340px
    padding: 28px 22px

  .map
    width: 340px

  .newsletter
    padding: 92px 0 93px 0

  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px

    &__wrapper
      margin-bottom: 60px

    &-slider
      &__item
        max-width: 580px

      &__button
        width: 28px
        top: 42%
        transform: translateY(-42%)

        &--prev
          left: 2px

        &--next
          right: 2px

  .activities
    padding: 60px 0 50px 0

    &-wrapper
      flex-wrap: wrap

    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px

  .packages
    padding: 20px 0 50px 0

    &__title
      margin: 0 0 40px 0

    &-grid
      grid-template-columns: 500px 500px 500px / 1fr 1fr
      grid-template-areas: "element-1 element-1" "element-2 element-3" "element-4 element-5"

  .footer
    padding-top: 73px

    &-wrapper
      grid-template-columns: min-content 1fr 1fr
      grid-row-gap: 50px
      grid-column-gap: 50px
      margin-bottom: 60px

    &__title
      &--mb-3
        margin-top: 8px

    &__input
      flex-basis: 47%

    &__logo
      width: 94px
      grid-row: 1 / 2
      grid-column: span 1

    &__social
      &-network
        grid-row: 1
        grid-column: span 2
        align-self: center
        margin-left: -15px
        margin-top: 10px

    &__categories
      grid-row: 2
      grid-column: span 1

    &__legal
      grid-column: span 1
      margin-left: 0

    &__additional
      grid-row: 2
      grid-column: span 1

    &__contact
      &-details
        grid-column: span 3
        grid-row: 3

      &-form
        grid-column: span 2
        grid-row: 4

    &__form
      width: 539px

    &__bottom
      display: flex
      justify-content: space-between

@media (max-width: 767px)
  .container
    width: 88%
  body
    padding-top: 70px

  .logo
    width: 99px
    height: 14px

  .search
    &__input
      width: 243px
  .navbar
    &-top
      padding-top: 28px
      padding-bottom: 28px

    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99

    &__search
      &--mobile
        &--hidden
          display: none

        &--visible
          display: flex

    &__user
      &--mobile
        &--hidden
          display: none

        &--visible
          display: flex
          flex-direction: column
          justify-content: center

    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 31px

      &--visible
        display: block

    &-menu
      padding: 0
      flex-direction: column

      &__item
        margin-bottom: 20px

        &--user
          margin-bottom: 27px

        &--search
          margin-bottom: 39px

        &--mobile
          &--visible
            display: block

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer

      &__line
        width: 16px
        height: 1px
        background-color: $text-color

  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px

  .stars
    flex-basis: auto

  .hotel
    padding-top: 5px
    padding-bottom: 40px

    &-name
      flex-basis: 100%

    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%

      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none

      &__offer
        order: -1
        margin-left: 0
        margin-top: 0

    &-slider
      height: 350px
      margin-bottom: 20px

    &-right
      flex-direction: column

  .booking
    width: 100%
    margin-bottom: 20px

  .map
    width: 100%

  .newsletter
    &-wrapper
      flex-direction: column
      width: 88%
      align-items: flex-start

    &-title
      &__weak
        display: block
        margin-bottom: 5px

      &__strong
        margin-bottom: 37px

  .reviews
    &__wrapper
      margin-bottom: 56px

    &-slider
      &__item
        padding: 0 30px 30px

        &:after, &:before
          display: none

      &__button
        top: 28px

        &--prev
          left: 36%
          margin-left: -54px
          transform: translate(-36%, 0)

        &--next
          right: 36%
          margin-right: -54px
          transform: translate(36%, 0)

  .activities
    padding: 40px 0 40px 0

    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px

  .card
    width: 48%
    height: 255px

  .packages
    &-grid
      grid-template-columns: 500px 500px 500px 500px 500px / 1fr
      grid-template-areas: "element-1" "element-2" "element-3" "element-4" "element-5"

    &__description
      max-width: 100%

    &__image-content-1
      display: none

  .footer
    &-wrapper
      grid-row-gap: 31px

    &__logo
      width: 94px
      height: auto

    &__social
      &-network
        flex-direction: column
        margin-left: 0
        margin-top: 6px

    &__title
      &--inline
        margin: 0 0 20px 0

    &__form
      width: 281px

    &__input
      flex-basis: 100%

    &__icon
      &-wrapper
        min-width: 45px
        padding-left: 4px
        padding-top: 3px


@media (max-width: 576px)

  .hotel
    &-info
      padding-bottom: 38px

    &-slider
      height: 180px

      &__button
        width: 12px
        height: 12px

        &--next
          right: 7px

        &--prev
          left: 7px

  .map
    max-height: 173px

  .newsletter
    padding: 76px 0 83px 0

    &-title
      font-size: 20px
      line-height: 25px

      &__strong
        font-size: 30px
        line-height: 38px

    .subscribe
      width: 100%

      &__input
        padding-left: 20px

  .reviews
    &__title
      padding-left: 38px
      padding-right: 38px
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px

  .activities
    &__card-1
      order: -1

    &__card-2
      order: 2

    &__card-3
      order: 1

    &__card-4
      order: 3
  .card
    width: 100%

  .footer
    &-wrapper
      grid-template-columns: 1fr

    &__logo
      grid-row: 1
      grid-column: 1

    &__social
      &-network
        grid-row: 2
        grid-column: 1

    &__legal
      grid-row: 3
      grid-column: 1

    &__additional
      grid-row: 4
      grid-column: 1

    &__categories
      grid-row: 5
      grid-column: 1

    &__contact
      &-details
        grid-row: 6
        grid-column: 1

      &-form
        grid-row: 7
        grid-column: 1

